/*Modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0); /* Black w/ opacity */

  -webkit-animation-name: fadein;
  -webkit-animation-duration: 0.4s;
  animation-name: fadein;
  animation-duration: 0.4s
}

/*header*/
.modalheader {
  padding: 2px 16px;
  background-color: #0000FF;
  color: white;
}

/*body*/
.modalbody {
  padding: 2px 16px;
}

/*footer*/
.modalfooter {
  padding: 2px 16px;
  background-color: #0000FF;
  color: white;
}
/* Modal Content/Box */
.modalcontent {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%; /* Could be more or less, depending on screen size */
  background-color: #FFFFFF;

  -webkit-animation-name:slidein;
  -webkit-animation-duration: 0.4s;
  animation-name: slidein;
  animation-duration: 0.4s
}

/*animation*/
@-webkit-keyframes slidein {
  from{bottom: -300px; opacity: 0}
  to{bottom: 0; opacity: 1}
}

@keyframes slidein {
  from{bottom: -300px; opacity: 0}
  to{bottom: 0; opacity: 1}
}

@-webkit-keyframes fadein {
  from{opacity: 0}
  to{opacity: 1}
}

@keyframes fadein {
  from{opacity: 0}
  to{opacity: 1}
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}