body {
    font-family: Arial, sans-serif;
}

#menu {
    margin-left:300px;
    margin-right:300px;
    margin-bottom: 100px;
    margin-top:50px;
    padding:15px;
    background-color: 0000FF;
    color:white;
    font-size: 20;
}

.menupics {
    width:150px; 
    padding-bottom: 8px;
}

figure.item {
    vertical-align: top;
    display:inline-block;
    text-align: center;
}
.caption {
    display:block;
}

#images {
    text-align:center;
}