/* Animate Background*/
@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
  
@keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
}
.content {
    left: 50%;
    padding: 50px;
    position: absolute;
    text-align: center;
    top: 60%;
    transform:translate(-50%, -50%);
}

.background {
    background: linear-gradient(132deg, #cf0a56, #2515b8, #790a4a);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #FFF ;
}

.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0 auto;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; */
    text-align: center;
}

.header{
  width: 100%;
  height: 100px;
  display: block;
  background-color: #101010;
}

.innerhead{
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: #101010;
}

.headlogo{
  height: 100%;
  margin:auto;
  display: block;
  /* float: center; */
}

.headlogo h1{
  color: white;
  margin: auto;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Courier New' , monospace;
  font-size: 50px;
  font-weight: 200;

}

.headlogo h1 span{
  font-weight: 800;

}

a{
    color: white;
}

.menupics {
    width:150px; 
    padding-bottom: 8px;
}

.menupics:hover{
    color: #790a4a;
    filter: invert(16%) sepia(24%) saturate(5368%) hue-rotate(298deg) brightness(99%) contrast(114%);
}

figure.item {
    vertical-align: top;
    display:inline-block;
    text-align: center;
}
.caption {
    display:block;
}

#images {
    text-align:center;
}

.container {
    background-size:cover;
}

#welcome {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color:white;
    font-size:30px;
}

#logo {
    display: block;
    width: 50%;
    margin:auto;
}
#logo1 {
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;    
    
}

#startBtn {

    display: block;
    width: 100px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid;

    padding:7px;
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #F9DA54;
    margin-top:10px;
    color: #F9DA54;
    font-size: 14px;


}

#startBtn:hover {
    background-color: #F9DA54;
    color: #000;
    border-color: #000;

}

/* button for opponent */
#opponent {
    background-color: transparent;
    background-repeat: no-repeat;
    border:none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    color:white;
    font-size: 25px;
}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color:white;
  font-size:30px;
}

.bg:hover {
    background-color: #790a4a;
}

.bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid;
}

#bgBtn {
    margin-top: -20px;
    margin-left: 20px;
}

#bgBackBtn {
    margin-top: 300px;
    margin-left: -480px;
}

#bgWindow {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color:white;
    font-size:30px;
}

.bgImg {
    height: 100px;
    width: 100px;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 100px;
}

.bgImg:hover {
    border: 3px solid #790a4a;
}

/* Modal Content */
.modal-content {
  background: linear-gradient(132deg, #cf0a56, #2515b8, #790a4a);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 55%;
  height:350px;
  font-size: 20;
}

.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color:white;
  font-size:30px;
}

/* Next button in modal content */
#myBtn1 {
    background-color: transparent;
    background-repeat: no-repeat;
    border:none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
}
#myBtn1:focus {
    background-color: #0000FF;
    border: none; 
}
#arrow {
    height:50px;
    width:50px;
    margin-left:640px;
}


.colorChoice {
    padding-left: 30px;
    padding-top: 30px;
}

.column1 {
    float:left;
}

.colorSection {
    width:40%;
}

.or {
    width:20%;
}

.defaultColorSection {
    width:40%;
    padding-top: 70px;
    padding-left: 50px;
    position:relative;
    height:auto;
}

#defaultButton {
    font-size:20px;
    background-color: #FFFFFF;
    color:black;
    padding:7px;
    border: none;
    margin-top:5px;
}

#or {
    text-align:center;
    line-height:200px;
}

#red {
    width:50px;
    margin-left:auto;
}

#yellow {
    width:50px;
    margin-right:auto;
}

#colors {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
}

/* The Close Button */
.begin {
    display: block;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding:7px;
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #F9DA54;
    margin-top:10px;
    color: #F9DA54;
    font-size: 14px;
}

.begin:hover {
    background-color: #F9DA54;
    color: #000;
    border-color: #000;
    
}

/* for index.html */
 *{box-sizing: border-box}

        .container {
            width: 720px;
            height: 720px;
            overflow: hidden;
            margin: 25px auto 0 auto;
            background-color: #1d70ec;
            position: relative;
        }

        .container .column {
            float: left;
            position: absolute;
            width: 90px;
            height: 720px;
            border: 1px solid #000;  
        }
        
        #column1 {
            left: 90px;
        }
        #column2 {
            left: 180px;
        }
        #column3 {
            left: 270px;
        }
        #column4 {
            left: 360px;
        }
        #column5 {
            left: 450px;
        }
        #column6 {
            left: 540px;
        }
        #column7 {
            left: 630px;
        }

        .container .dot {
            float: left;
            width: 80px;
            height: 80px;
            border: 1px solid #000;
            border-radius: 50%;
            transition: all .25s ease-in-out;
            line-height: 100px;
            margin: 5px;
            background-color: #fff;
        }

        #overlay {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
          }

          .history {
              color: white;
              font-size: 20px;
              position: sticky;
              -webkit-text-stroke-width: 0.3px;
              -webkit-text-stroke-color: black;
          }

        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            .container {
                width: 360px;
                height: 360px;
            }

            .container .dot {
                width: 40px;
                height: 40px;
                margin: 2.5px;
            }

            .container .column {
                width: 45px;
                height: 360px;
            }

            #column1 {
                left: 45px;
            }
            #column2 {
                left: 90px;
            }
            #column3 {
                left: 135px;
            }
            #column4 {
                left: 180px;
            }
            #column5 {
                left: 225px;
            }
            #column6 {
                left: 270px;
            }
            #column7 {
                left: 315px;
            }
        }
